type adspd_device, dev_type;

type drm_block_device, dev_type;

type efs_block_device, dev_type;
type mdm_helper_device, dev_type;
type fingerprint_device, dev_type;
type modem_hob_block_device, dev_type;
type cid_block_device, dev_type;

type power_control_device, dev_type;

