type adspd_socket, file_type;
type mpdecision_socket, file_type;

type fsg_file, fs_type, contextmount_type;

type diag_logs, file_type, data_file_type;;
type ram_dump_logs, file_type, data_file_type;
type gsiffd_data_file, data_file_type, file_type;
type quipc_data_file, data_file_type, file_type;
type dropbox_data_file, file_type, data_file_type;
type adspd_data_file, file_type, data_file_type;
type audio_cutback_data_file, file_type, data_file_type;
type sysfs_rmnet, fs_type, sysfs_type;
type sysfs_smdcntl_open_timeout, fs_type, sysfs_type;
type sysfs_xhci_msm_hsic, fs_type, sysfs_type;
type sysfs_msm_hsic_host, fs_type, sysfs_type;
type persist_sensors_file, file_type;
type persist_modem_file, file_type;
type persist_hiddenmenu_file, file_type;

#Define the files written during the operation of mpdecision
type sysfs_cpuboost, fs_type, sysfs_type;
type sysfs_capsense_update, fs_type, sysfs_type;
type sysfs_sar_wifi, fs_type, sysfs_type;

type proc_touchpanel, fs_type;
type cam_proc, file_type;
type cam_sysfs, sysfs_type;
type fingerprint_data, file_type;
type fingerprint_sysfs, sysfs_type;
type nv_data_file, file_type;
type touchscreen_file, sysfs_type, file_type;
