allow fingerprintd sysfs:file write;
allow fingerprintd system_data_file:dir { write remove_name add_name };
allow fingerprintd system_data_file:sock_file { create unlink };
allow fingerprintd tee_device:chr_file { read write ioctl open };
allow fingerprintd firmware_file:dir search;
