# Fingerprint sensor
allow tee fingerprint_data:dir create_dir_perms;
allow tee fingerprint_data:file create_file_perms;
allow tee fingerprint_dir:dir create_dir_perms;
allow tee fingerprint_dir:file create_file_perms;
