allow qti_init_shell persist_bluetooth_file:dir search;
allow qti_init_shell persist_bluetooth_file:file { read getattr open };
allow qti_init_shell bluetooth_loader_exec:file { read open };
allow qti_init_shell btnvtool_exec:file { getattr execute read open execute_no_trans };
allow qti_init_shell kmsg_device:chr_file { write open };
