allow qti_init_shell bluetooth_loader_exec:file { open read };
allow qti_init_shell btnvtool_exec:file { execute execute_no_trans getattr open read };
allow qti_init_shell kmsg_device:chr_file { open write };
allow qti_init_shell smem_log_device:chr_file { ioctl open read write };
