allow qti_init_shell bluetooth_loader_exec:file read;
allow qti_init_shell bluetooth_loader_exec:file open;
allow qti_init_shell kmsg_device:chr_file write;
allow qti_init_shell kmsg_device:chr_file open;
allow qti_init_shell btnvtool_exec:file getattr;
allow qti_init_shell btnvtool_exec:file execute;
allow qti_init_shell btnvtool_exec:file { read open };
allow qti_init_shell btnvtool_exec:file execute_no_trans;
allow qti_init_shell self:socket create;
allow qti_init_shell self:socket ioctl;
allow qti_init_shell self:socket read;
allow qti_init_shell qmuxd_socket:dir search;
allow qti_init_shell qmuxd_socket:dir write;
allow qti_init_shell qmuxd_socket:dir add_name;
allow qti_init_shell qmuxd_socket:dir remove_name;
allow qti_init_shell qmuxd_socket:sock_file unlink;
allow qti_init_shell qmuxd_socket:sock_file create;
allow qti_init_shell qmuxd_socket:sock_file setattr;
allow qti_init_shell qmuxd_socket:sock_file write;
allow qti_init_shell qmuxd:unix_stream_socket connectto;
