allow system_server persist_file:dir { read write };
allow system_server proc_touchpanel:dir search;
allow system_server proc_touchpanel:file { open write getattr };
allow system_server stm_sensor:chr_file { ioctl open read write };
allow system_server unlabeled:file unlink;
