allow system_app proc_touchpanel:dir search;
allow system_app proc_touchpanel:file { write getattr open read };
allow system_app qmuxd_socket:dir search;
allow system_app cne_service:service_manager add;
allow system_app dpmservice:service_manager add;
allow system_app qtitetherservice_service:service_manager add;
allow system_app dpmd_data_file:dir { search write add_name };
allow system_app dpmd_data_file:file create;
